body{
  color: black;
  background-color: #FAF9FF;
  
  
}
  

.imgQSN{
  display: flex;
  justify-content: center;
}
.img{
  padding-top: 5%;
  width: 50%;
  
}
  
.qsn{
  padding-top: 5%;
  width: 50%;
}
  
.car{
  padding-top: 10%;
  width: 50%;
  
}
#smartstopLogo {
  padding: 5px;
}
header{
  background-color: #eed029;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

  
#titulo{
  font-size: 50px;
  display: flex;
  justify-content: center;
  
}

.input{
  width: 250px;
  height: 50px;
  font-size: large;
}
.inputBox{
  width: min-content;
  display: flex;
  flex-direction: column;
  justify-content: right;
  

}
.btnBox{
  width: min-content;
  display: flex;
  align-items: center;
  padding-left:5%;
}
.btn{
  color: white;
  background-color: #2D2D2D;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #2D2D2D;
  cursor: pointer;
  width: 100px;
}
#img{
  padding-top: 5%;
  display: flex;
  justify-content: center;
}
.boxInputBtn{
  padding-top: 5%;
  display: flex;
  justify-content: center;
  width: 100%;
}
.caixa{
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 1500px;
    margin-bottom: 25px;
}
.boxCentral{
  width: 100%;
  justify-content: center;
}


.topBoxLogo{
  width: 33.3%;
}
.topBoxTitulo{
  width: 33.3%;
  display: flex;
  justify-content:center;
}
.topBoxAvatar{
  width: 33.3%;
  display: flex;
  justify-content: right;
}