body{
    color: black;
    background-color: #FAF9FF;
    font-size: large;
}
  

.imgQSN{
    display: flex;
    justify-content: center;
}

  
  .qsn{
    padding-top: 5%;
    width: 50%;
  }
  
  .car{
    padding-top: 10%;
    width: 50%;
  
  }
  #smartstopLogo {
    padding: 5px;
  }
  header{
    background-color: #eed029;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  
    
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  z-index: 1100;
  min-width: 105px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.selected {
  background-color: #CECECE;
}




  
  
  #hamburgerIcon{
    width: 55px;
    padding-right: 50px;
  }
  
  #titulo{
    font-size: 50px;
    display: flex;
    justify-content: center;
  
  }



#img{
    display: flex;
    justify-content: center;
}

.boxInput{
  display: flex;
  flex-direction: column;
  width: min-content;}

.input{
  width: 250px;
  height: 50px;
  margin-bottom: 15px;

}
.btnBox{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 150px;

}
.btn{
  color: white;
  background-color: #2D2D2D;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #2D2D2D;
  cursor: pointer;
  width: 100px;
}

.topBoxLogo{
  width: 33.3%;
}
.topBoxTitulo{
  width: 33.3%;
  display: flex;
  justify-content:center;
}
.topBoxAvatar{
  width: 33.3%;
  display: flex;
  justify-content: right;
}



.boxLabel{
  display: flex;
  flex-direction: column;
  width: min-content;
}

.label{
  width: 250px;
  height: 50px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;


}

.lableInput{
  width: 100%;
  display: flex;
  justify-content: center;

}

.main{
display: flex;
}

.veiculo{
  width: 50%;
  margin-top: 5%;
}
.pagamento{
  width: 50%;
  margin-top: 5%;
  
}

.icon{
  width: 50px;
  height: 50px;
  padding-right: 20px;
}
.subTituloIcon{
  display: flex;
  flex-direction: row;
}