body{
    color: black;
    background-color: #FAF9FF;
    font-size: large;
    font-family: 'Montserrat', sans-serif;
}
  
.topBoxLogo{
    width: 33.3%;
}   
header{
    background-color: #eed029;
    display: flex;
    align-items: center;
    justify-content: space-between;
}  
  #smartstopLogo {
    padding: 5px;
}
.topBoxTitulo{
    width: 33.3%;
    display: flex;
    justify-content:center;
}
.topBoxAvatar{
    width: 33.3%;
    display: flex;
    justify-content: right;
}

.historico{
    width: 50%;
    margin-top: 5%;
  }
  #backArrow img {
    margin-left: 50px;
    width: 50px;
  }
  
  td, th {
    border: 1px solid #2D2D2D;
    text-align: center;
    padding: 8px;
  }
  
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 75%;
  }
  #tabela{
    display: flex;
    justify-content: center;
  }

  th{

    background-color: #2D2D2D;
    color: white;
  }

  td{
    color: #2D2D2D;
  }