body{
    color: black;
    background-color: #FAF9FF;
  
  
}
  

.imgQSN{
    display: flex;
    justify-content: center;
}
.img{
    padding-top: 5%;
    width: 50%;
  
}
  
  .qsn{
    padding-top: 5%;
    width: 50%;
  }
  
  .car{
    padding-top: 10%;
    width: 50%;
  
  }
  #smartstopLogo {
    padding: 5px;
  }
  header{
    background-color: #eed029;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    z-index: 1100;
    min-width: 105px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .selected {
    background-color: #CECECE;
  }
  
  
 





#avatar{
  margin-top: 25px;
  width: 13%;
}

.topBoxLogo{
  width: 33.3%;
}
.topBoxTitulo{
  width: 33.3%;
  display: flex;
  justify-content:center;
}
.topBoxAvatar{
  width: 33.3%;
  display: flex;
  justify-content: right;
}
#logoIcon{
width: 100px;
}

.tbaChild{
  display: flex;
  align-items: center;
}



#map { 
    height: 550px;
    width: 700px;
    border-radius: 40px;
}

#maisInfoBox{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


  .botao{
      padding-top: 5%;
      justify-content: center;
      align-items: center;
      text-align: center;
  }
  #backArrow img {
    margin-left: 50px;
    width: 50px;
  }

  .mapaBox{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .checkBoxs {
    justify-content: space-between;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 15px;
  }
  
  .checkBoxs div {
    margin-bottom: 10px;
  }
  .boxs{
    margin-top: 25px;
    height: 100%;
    display: flex;
    justify-content: center;
  }

  .infoAndMap{
    display: flex;
  }

  #btnInfo{
    color: white;
    background-color:  #2D2D2D;;
    padding: 10px 24px;
    border-radius: 8px;
    border: 2px solid #2D2D2D;
    cursor: pointer;
  }

  
  #btn{
    width: 140px;
  }

  #topBar{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;

  }

  .divEstatisticas{
    color:#000;
    background-color:#f1f1f1;
    font-size:24px;
    border: 2px solid #2D2D2D;
    height: 7%;
  }

  .estatisticas{padding:0.01em 16px;
  }

  .estatisticas{
    color:#2D2D2D;
    background-color:#eed029;
    height: 100%;
    border-right: 2px solid #2D2D2D;
 

  }




  
