body{
    color: black;
    background-color: #FAF9FF;
    font-size: large;
    font-family: 'Montserrat', sans-serif;
  }
  
  header{
    background-color: #eed029;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
    
  .topBoxLogo{
    width: 33.3%;

  }
  #smartstopLogo {
    padding: 5px;
  }
  .topBoxTitulo{
    width: 33.3%;
    display: flex;
    justify-content:center;


  }
  .topBox{
    width: 33.3%;
    justify-content: right;
    display: flex;
    margin-right: 25px;
  }
  
  
  #LoginRegisto,#fechar{
    z-index: 1100;
    position: absolute;
    display: none;
  
  }
  #fecharIcon{
    width: 55px;
    height: 55px;
  }
  #fechar{
    margin-top: 50px;
    margin-left: 50px;
  }
  .boxChild{
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    border: 2px solid #2D2D2D;
    background-color: whitesmoke;
  
  }
  

.inputBox{
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  

}

.input{
  width: 250px;
  height: 50px;
  font-size: large;
  margin-bottom: 2%;
}


.btnBox{
  width: min-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left:5%;
  margin-top: 15%;
}
.btn{
  color: white;
  background-color: #2D2D2D;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #2D2D2D;
  cursor: pointer;
  width: 100px;
  margin-bottom: 10px;
}
.btnVL{
  color: #2D2D2D;
  background-color: #eed029;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #eed029;
  cursor: pointer;
  width: 110px;
  margin-bottom: 10px;

}
.btnCC{
  color: white;
  background-color: #2D2D2D;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #2D2D2D;
  cursor: pointer;
  width: 120px;
  margin-bottom: 10px;

}

.newPasswordBTN{
  color: #2D2D2D;
  background-color: #eed029;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #eed029;
  cursor: pointer;
  width: 200px;
  margin-top: 20px;
}
  






.label{
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 50px;
  font-size: large;
}


#avaBtn{
  background-color: #2D2D2D;
  width: 225px;
  height: 60px;
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
}
#avatar{
  width: 50px;
  height: 50px;
  margin-right: 5px;
  margin-left: 5px;

}


#textoCarro{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

#texto{
  margin-right: 10%;
}
#carro{
  margin-top: 10%;
  margin-left: 10%;
}


.tituloPack{
  display: flex;
  justify-content: center;
}

#bottomBox{
  display: flex;
  justify-content: right;

}

#slides{
  width: 500px;
  height: 500px;
}
.imagens{
  display: flex;
  justify-content: center;
}


.zoom {
  transition: transform .2s;
  margin: 0 10;
  cursor: pointer;
}

.zoom:hover {
  -ms-transform: scale(1.1);  /* IE 9 */
  -webkit-transform: scale(1.1);  /* Safari 3-8 */
  transform: scale(1.1); 
}

.packs{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 5%;
}